{% load static from staticfiles %}

<!-- jQueryUI Autocomplete -->

<script type="text/javascript" src="{% static 'widgets/autocomplete/autocomplete.js' %}"></script>
<script type="text/javascript" src="{% static 'widgets/autocomplete/menu.js' %}"></script>
<script type="text/javascript" src="{% static 'widgets/autocomplete/autocomplete-demo.js' %}"></script>

<!-- Touchspin -->

<!--<link rel="stylesheet" type="text/css" href="../../assets/widgets/touchspin/touchspin.css">-->
<script type="text/javascript" src="{% static 'widgets/touchspin/touchspin.js' %}"></script>
<script type="text/javascript" src="{% static 'widgets/touchspin/touchspin-demo.js' %}"></script>

<!-- Input switch -->

<!--<link rel="stylesheet" type="text/css" href="../../assets/widgets/input-switch/inputswitch.css">-->
<script type="text/javascript" src="{% static 'widgets/input-switch/inputswitch.js' %}"></script>
<script type="text/javascript">
    /* Input switch */

    $(function () {
        "use strict";
        $('.input-switch').bootstrapSwitch();
    });
</script>

<!-- Textarea -->

<script type="text/javascript" src="{% static 'widgets/textarea/textarea.js' %}"></script>
<script type="text/javascript">
    /* Textarea autoresize */

    $(function () {
        "use strict";
        $('.textarea-autosize').autosize();
    });
</script>

<!-- Multi select -->

<!--<link rel="stylesheet" type="text/css" href="../../assets/widgets/multi-select/multiselect.css">-->
<script type="text/javascript" src="{% static 'widgets/multi-select/multiselect.js' %}"></script>
<script type="text/javascript">
    /* Multiselect inputs */

    $(function () {
        "use strict";
        $(".multi-select").multiSelect();
        $(".ms-container").append('<i class="glyph-icon icon-exchange"></i>');
    });
</script>

<!-- Boostrap Tabs -->

<script type="text/javascript" src="{% static 'widgets/tabs/tabs.js' %}"></script>

<!-- Uniform -->

<!--<link rel="stylesheet" type="text/css" href="../../assets/widgets/uniform/uniform.css">-->
<script type="text/javascript" src="{% static 'widgets/uniform/uniform.js' %}"></script>
<script type="text/javascript" src="{% static 'widgets/uniform/uniform-demo.js' %}"></script>

<!-- Chosen -->

<!--<link rel="stylesheet" type="text/css" href="../../assets/widgets/chosen/chosen.css">-->
<script type="text/javascript" src="{% static 'widgets/chosen/chosen.js' %}"></script>
<script type="text/javascript" src="{% static 'widgets/chosen/chosen-demo.js' %}"></script>

<!--<link rel="stylesheet" type="text/css" href="../../assets/widgets/input-switch/inputswitch.css">-->
<script type="text/javascript" src="{% static 'widgets/input-switch/inputswitch.js' %}"></script>
<script type="text/javascript">
    /* Input switch */

    $(function () {
        "use strict";
        $('.input-switch').bootstrapSwitch();
    });
</script>

<!-- Textarea -->

<script type="text/javascript" src="{% static 'widgets/textarea/textarea.js' %}"></script>
<script type="text/javascript">
    /* Textarea autoresize */

    $(function () {
        "use strict";
        $('.textarea-autosize').autosize();
    });
</script>


<!-- Input masks -->

<script type="text/javascript" src="{% static 'widgets/input-mask/inputmask.js' %}"></script>

<script type="text/javascript">
    /* Input masks */

    $(function() { "use strict";
        $(".input-mask").inputmask();
    });

</script>